---
import Logo from "./Logo.astro";
import HamburgerBtn from "./HamburgerBtn.astro";
import NavItem from "./NavItem.astro";
import NavMegaItem from "./NavMegaItem.astro";
import { links } from "./links.ts";

const {navigation} = links;
---

<header>
    <nav class="bg-white border-gray-200 dark:border-gray-600 dark:bg-gray-900">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl p-4">
            <Logo />
            <HamburgerBtn />
            <div id="mega-menu-full" class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
                <ul class="flex flex-col justify-center mt-4 font-medium md:flex-row md:mt-0 md:space-x-8 rtl:space-x-reverse">
                    {navigation.map(link=>(       
                        "subNav" in link?
                        <NavMegaItem label={link.label} links={link.subNav} />
                        :<NavItem text={link.label} />
                    ))}
                </ul>
            </div>
        </div>
    </nav>
</header>