---
const {href,label,src,alt,size,variant}=Astro.props.data;
---
<div class="flex">
    <a href={href} class="-m-1.5 p-1.5 flex gap-4 flex-row-reverse">
      <span class:list={["bg-gradient-to-r  opacity-85  from-secondary to-azul-500 bg-clip-text text-transparent font-bold", {"fixed top-0 left-0":variant=='fixed'},{'text-8xl':!size}, {'text-7xl':size=="medium"}]}>
        {label}
      </span>
      <img
        class:list={["h-20 w-auto", {'h-16':size=="medium"}]}
        src={src}
        alt={alt}
      />
    </a>
</div>