---
import Logo from "./Logo.astro";
import { links } from "../links";

import HamburgerDrawer from './HamburgerDrawer';
import Menu from "./Menu.astro";

const { navigation } = links;
const logoDatra = {
    href:"/",label:"Roolschool",src:"/logo.jpg",alt:"Rollschool Logo",size:"medium"
}
---
<nav class="p-4 flex w-full justify-between">
    <Logo data={logoDatra}/>
    <HamburgerDrawer data={navigation[3]} client:load />
    <!-- <Menu /> -->
</nav>