---
import Logo from "./Logo.astro";
import { links } from "../links";
import HamburgerDrawer from './HamburgerDrawer';
import Hero from "../Hero.astro";

const { navigation } = links;
const logoDatra = {
    href:"/",label:"Roolschool",src:"/logo_transparent_blue.png",alt:"Rollschool Logo",size:"medium"
}
---
 <nav class="p-4 flex flex-col sm:flex-row w-full sm:h-28 justify-between sticky top-0 left-0 z-10">
        <Logo data={logoDatra} />
        <HamburgerDrawer data={navigation[3]} client:load />
</nav>