---
import BaseHead from '../components/BaseHead.astro';
import MainLayout from '../layouts/MainLayout.astro';
const siteTitle = "FAQ";
const siteDescription = "Rollschool często zadawane pytania";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={siteTitle} description={siteDescription} />
	</head>
		<MainLayout>
			<p class="text-3xl">{siteTitle}</p>
		</MainLayout>
</html>
