---
import BaseHead from '../components/BaseHead.astro';
import MainLayout from '../layouts/MainLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
		<MainLayout>
			<p class="text-black">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, nobis adipisci. Nemo cumque vitae molestiae architecto reprehenderit accusamus. Et nam quae praesentium natus obcaecati sit deserunt quam debitis, facilis magni, dolorum ipsum ratione tempore eum ad. Sint, quidem molestias. Alias cum perspiciatis fugit aliquid, dolorum iure mollitia repellendus voluptatibus exercitationem quo ipsum quidem, a saepe, porro omnis sint nam dolore? Nostrum facilis eveniet dicta laboriosam. Quae ratione dolores ea incidunt atque perferendis, doloribus quod eius quis nam, doloremque voluptatum sint, sit distinctio. Optio ipsa iusto eos! In saepe ratione nemo at deleniti ducimus obcaecati et id ea quasi? Quo, eos.
			</p>
			<p class="text-black">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, nobis adipisci. Nemo cumque vitae molestiae architecto reprehenderit accusamus. Et nam quae praesentium natus obcaecati sit deserunt quam debitis, facilis magni, dolorum ipsum ratione tempore eum ad. Sint, quidem molestias. Alias cum perspiciatis fugit aliquid, dolorum iure mollitia repellendus voluptatibus exercitationem quo ipsum quidem, a saepe, porro omnis sint nam dolore? Nostrum facilis eveniet dicta laboriosam. Quae ratione dolores ea incidunt atque perferendis, doloribus quod eius quis nam, doloremque voluptatum sint, sit distinctio. Optio ipsa iusto eos! In saepe ratione nemo at deleniti ducimus obcaecati et id ea quasi? Quo, eos.
			</p>
			<p class="text-black">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, nobis adipisci. Nemo cumque vitae molestiae architecto reprehenderit accusamus. Et nam quae praesentium natus obcaecati sit deserunt quam debitis, facilis magni, dolorum ipsum ratione tempore eum ad. Sint, quidem molestias. Alias cum perspiciatis fugit aliquid, dolorum iure mollitia repellendus voluptatibus exercitationem quo ipsum quidem, a saepe, porro omnis sint nam dolore? Nostrum facilis eveniet dicta laboriosam. Quae ratione dolores ea incidunt atque perferendis, doloribus quod eius quis nam, doloremque voluptatum sint, sit distinctio. Optio ipsa iusto eos! In saepe ratione nemo at deleniti ducimus obcaecati et id ea quasi? Quo, eos.
			</p>
			<p class="text-black">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, nobis adipisci. Nemo cumque vitae molestiae architecto reprehenderit accusamus. Et nam quae praesentium natus obcaecati sit deserunt quam debitis, facilis magni, dolorum ipsum ratione tempore eum ad. Sint, quidem molestias. Alias cum perspiciatis fugit aliquid, dolorum iure mollitia repellendus voluptatibus exercitationem quo ipsum quidem, a saepe, porro omnis sint nam dolore? Nostrum facilis eveniet dicta laboriosam. Quae ratione dolores ea incidunt atque perferendis, doloribus quod eius quis nam, doloremque voluptatum sint, sit distinctio. Optio ipsa iusto eos! In saepe ratione nemo at deleniti ducimus obcaecati et id ea quasi? Quo, eos.
			</p>
		</MainLayout>
</html>
