---
---
<ul class=" fixed bottom-4 -inset-x-1/4 flex gap-2 flex-wrap justify-center mx-auto">
    <li class="bg-ruddy_blue-500 w-28 h-28">
        <p class="text-base text-center p-2">ruddy_blue</>
    </li>
    <li class="bg-beaver-500 w-28 h-28">
        <p class="text-base text-center p-2">beaver</>
    </li>
    <li class="bg-azul-500 w-28 h-28">
        <p class="text-base text-center p-2">azul</>
    </li>
    <li class="bg-dim_gray-500 w-28 h-28">
        <p class="text-base text-white text-center p-2">dim_gray</>
    </li>
    <li class="bg-outer_space-500 w-28 h-28">
        <p class="text-base text-white text-center p-2">outer_space</>
    </li>
    <li class="bg-prussian_blue-500 w-28 h-28">
        <p class="text-base text-white text-center p-2">prussian_blue</>
    </li>
    <li class="bg-green_yellow-500 w-28 h-28">
        <p class="text-base  text-center p-2">green_yellow</>
    </li>
    <li class="bg-secondary w-28 h-28">
        <p class="text-base text-white text-center p-2">secondary</>
    </li>
</ul>