---
import { Icon } from 'astro-icon/components';
const {href,target="_self",label} = Astro.props;
---
<a href={href} target={target} class="w-fit drop-shadow-md bg-gradient-to-r from-secondary to-azul-500 from-0% to-90% text-white px-10 xl:pr-20 xl:pl-20 py-6 rounded-md inline-flex gap-6 justify-center items-center">
    <span class="text-xl md:text-3xl lg:text-5xl xl:text-8xl font-bold ml-3 lg:mb-4 text-nowrap">{label}</span>
    <!-- <svg class="w-full text-2xl xl:text-9xl font-bold -mt-2" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 48 48" >
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="4" d="M42 24H6m24-12l12 12l-12 12" />
    </svg> -->
    <Icon class="text-3xl md:text-4xl lg:text-6x xl:text-9xl hover:animate-nudge" name="ant-design:caret-right-filled" />
</a>