---
import SocialMedia from "./SocialMedia.astro";
import { Icon  } from 'astro-icon/components';
---

<footer class="px-10 bg-secondary py-10">
		<div class="kontakt">
			<h5 class="text-white" >Kontakt</h5>
			<div class="">
				<div class="contact-item flex gap-2 align-middle h-fit">
					<Icon class="text-white self-start mt-1 text-4xl" name="ant-design:home-outlined" />
					<p class="text-white self-center mb-0">
						ul. Irysowa 27/88<br>
						02-660 Warszawa<br>
						pon-pt: godz. 9-16 (adres biura)
					</p>
				</div>
				<div class="contact-item flex gap-2 align-middle h-fit">
					<Icon class="text-white self-center text-4xl" name="ant-design:phone-outlined" />
					<p class="text-white self-center m-0">
						888 555 965
					</p>
				</div>
			<div class="contact-item flex gap-2 align-middle h-fit">
				<Icon class="text-white self-center text-4xl" name="ant-design:mail-outlined" />
				<p class="text-white self-center m-0">
					kontakt@rollschool.pl
				</p>
			</div>
			<div class="flex gap-2 align-middle h-fit">
				<Icon class="text-white self-center text-4xl" name="ant-design:phone-outlined" />
				<a href="//zapisy.rollschool.pl/instruktorzy/" class="self-center text-white hover:text-blue-400 transition-all h-fit">Telefony do Instruktorow</a>
			</div>
			</div>
		</div>
		<SocialMedia />
</footer>

