---
import { Icon } from 'astro-icon/components'
---
<div class="media-spolecznosciow py-2  flex justify-end">
    <h5 class="text-white text-3xl  mx-2">Media społecznościowe</h5>
    <div class="medias flex gap-2">
        <a class=" pl-0 text-white" href="https://www.facebook.com/Rollschool" title="facebook">
            <Icon class="text-3xl hover:text-blue-400 transition-all" name="ant-design:facebook-outlined" />
        </a>
        <a class=" text-white" href="https://instagram.com/rollschool/" title="instagram">
            <Icon class="text-3xl hover:text-blue-400 transition-all" name="ant-design:instagram-outlined" />
        </a>
        <a class=" text-white" href="https://www.youtube.com/channel/UChiVI2Xvmuwc3F5sMkGZTEw" title="youtube">
            <Icon class="text-3xl hover:text-blue-400 transition-all" name="ant-design:youtube-outlined" />
        </a>
    </div>
</div>