---
import Nav from "../components/navigation/Nav.tsx";
import Footer from "../components/Footer.astro"
---
<Nav client:load />
<main>
    <slot/>
</main>
<Footer />
<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>../components/flowbite/header/Header.astro