---
import BaseHead from '../components/BaseHead.astro';
import MainLayout from './MainLayout.astro';

---
<>
    <head>
        <BaseHead title={siteTitle} description={siteDescription} />
    </head>
    <MainLayout>
        <p class="text-3xl">{siteTitle}</p>
    </MainLayout>
</>